li {
	background-color: #ffebcc;
	margin: 1em;
	border-radius: 10px;
	list-style-type: none;
	padding-left: 1em;
	padding-right: 1em;
}

h3 {
	font-size: medium;
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

button {
	float: right;
	position: relative;
	bottom: .3em;
}

ul.items li {
	padding: 1em;
}

ul.sources li {
	padding-left: 1em;
	margin-bottom: .5em;
}

.btn.focus, .btn:focus {
	box-shadow: none;
}