{% load static %}
{% load bootstrap4 %}
<html>
<head>
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full' %}
	<link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
	<div class="row container-fluid">
		<ul class="col-sm-2 sources">
		{% for source in sources %}
			<li>{{ source.url }}</li>
		{% endfor %}
		</ul>
		<ul class="col-sm-6 items">
		{% for item in items %}
			<li>
				<button data-toggle="collapse" data-target="#description-{{ item.pk }}" class="btn fas fa-chevron-down"></button>
				<h3>{{ item.title }}</h3>
				<p class="collapse" id="description-{{ item.pk }}">{{ item.description }}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</body>
</html>